.Container {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.BreadCrum {
    background-color: rgb(245, 245, 250);
}
.ItemBreadCrum {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.Home {
    display: flex;
    margin-left: 10px;
}
.DataCrum {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: rgb(26, 148, 255);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    white-space: nowrap;
    padding: 0 5px;
}
.IconsHome {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(26, 148, 255);
    padding: 8px;
}
.Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.IconText {
    margin-left: 5.5px;
    margin-right: 8.5px;
    & img {
        width: 28px;
        height: 28px;
        margin: 8px 0px 0px -12px;
        cursor: pointer;
    }
}
.Wrapper {
    display: flex;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.Left {
    padding: 16px 0px 16px 16px;
    cursor: pointer;
}
.GroupImages {
    display: flex;
    flex-direction: column;
    position: relative;
}
.Thumbnail {
    text-align: center;
    position: relative;
}
.ItemsImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 444px;
    height: 444px;
    cursor: pointer;
}
.ReviewImages {
    flex: 0 0 100%;
    margin: 16px 0px 0px;
}
.List {
    display: flex;
    justify-content: center;
}
.Dataview {
    cursor: pointer;
    width: 64px;
    height: 64px;
    margin-right: 12px;
    border-radius: 4px;
    overflow: hidden;
    & img {
        width: 64px;
        height: 100%;
    }
}
.Bottom {
    margin: 0px 12px;
    width: 1px;
    background: rgb(242, 242, 242);
    flex-shrink: 0;
}
.Right {
    flex: 1 1 0%;
}
.Header {
    padding: 16px 28px 16px 0px;
    position: relative;
    & h1 {
        margin: 0px 0px 4px;
        color: rgb(36, 36, 36);
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        word-break: break-word;
    }
}
.Body {
    display: flex;
    padding: 0px 24px 0px 0px;
}
.BodyLeft {
    flex: 1 1 0%;
    padding-right: 12px;
}
.Price,
.Title {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    padding: 0px 16px 12px;
}
.ProductPrice {
    padding-top: 12px;
    display: flex;
    align-items: flex-end;
    color: rgb(56, 56, 61);
}
.CurrentPrice {
    font-size: 32px;
    line-height: 40px;
    margin-right: 8px;
    font-weight: 500;
    color: rgb(255, 66, 78);
}
.ListPrice {
    color: rgb(128, 128, 137);
    text-decoration: line-through;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}
.DiscountRate {
    font-weight: 400;
    margin-left: 8px;
    border: 1px solid rgb(255, 66, 78);
    border-radius: 2px;
    background-color: rgb(255, 240, 241);
    color: rgb(255, 66, 78);
    line-height: 18px;
    font-size: 14px;
    padding: 0px 4px;
}
.FreeShip {
    display: flex;
    margin-top: 12px;
    & h1 {
        font-size: 14px;
        margin-left: 10px;
    }
}
.SizeChart {
    display: flex;
    & button {
        border: 0px;
        padding: 0px;
        background-color: transparent;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: rgb(13, 92, 182);
        font-size: 13px;
        line-height: 1.54;

        cursor: pointer;
    }
}

.P {
    color: rgb(142, 142, 142);
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin: 0px;
    padding-right: 20px;
}

.Options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}
.Data {
    cursor: pointer;
    margin: 8px 10px 0px 0px;
    padding: 2px;
    color: rgb(36, 36, 36);
    font-size: 13px;
    width: 144px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(242, 242, 242);
    border: 1px solid transparent;
    outline: 0px;
    border-radius: 4px;
}
.Img {
    object-fit: contain;
    max-width: 100%;
}
.Span {
    line-height: 16px;
    margin: 6px 8px;
}
.IconStyles {
    position: absolute;
    top: -1px;
    right: -1px;
}
.Item {
    position: relative;
    display: flex;

    align-items: center;
    & img {
        width: 130px;
        height: 24px;
    }
}
.BodyRight {
    padding-bottom: 20px;
    width: 240px;
}
.Origin {
    display: flex;
    & h1 {
        font-size: 14px;
        line-height: 1.1;
    }
}
.Size {
    & p {
        color: rgb(142, 142, 142);

        font-size: 13px;

        font-weight: 400;
    }
}
.ListSize {
    display: flex;
    flex-wrap: wrap;
    & button {
        opacity: 0.5;
        cursor: not-allowed;
        cursor: pointer;
        margin: 8px 10px 0px 0px;
        padding: 8px;
        color: rgb(36, 36, 36);
        font-size: 13px;
        min-width: 80px;
        position: relative;
        background-color: rgb(242, 242, 242);
        border: 1px solid transparent;
        outline: 0px;
        border-radius: 4px;
    }
}
