.DiscountCode {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
    border-top: 1px solid rgb(242, 242, 242);
    padding-top: 16px;
}
.Text {
    font-size: 15px;
    font-weight: 500;
    color: rgb(36, 36, 36);
    flex: 1 1 0%;
    cursor: pointer;
}
.Tags {
    display: flex;
    padding: 0px 4px 0px 0px;
    flex-wrap: wrap;
    & img {
        width: 28px;
        height: 28px;
        margin: 8px 0px 0px -12px;
        cursor: pointer;
    }
}
.CouponTag {
    cursor: pointer;
    padding: 3px 12px;
    border: 1px solid rgb(13, 92, 182);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(13, 92, 182);
    position: relative;
    margin: 8px 12px 0px 0px;
}
.DeliveryZone {
    background-color: rgb(255, 255, 255);
    margin: 16px 0px 0px;
    border-top: 1px solid rgb(242, 242, 242);
}
.DataviewId {
    display: flex;
    padding: 12px 0px;

    justify-content: space-between;
    cursor: pointer;
    & span {
        margin: 5px;
    }
}
.Address {
    text-decoration: underline;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}
.AddressChange {
    color: rgb(11, 116, 229);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    flex-shrink: 0;
}
.InfoHeader {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
    font-size: 14px;
}
.HeaderLogo {
    & img {
        width: 49px;
        height: 14px;
    }
}
.HeaderHighlight {
    color: rgb(0, 171, 86);
    font-weight: 500;
    margin-left: 5px;
}
.InfoNote {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
}

.Quantity {
    display: flex;
    align-items: flex-end;
}
